#carouselExampleControls
{background-color:#9e0070;}

#tryNow
{
    position:absolute;
    top:120px;
    width:100%;
}
#contCta
{
    text-align:center;
}
.single-price-table-area .price-value h2 span:first-child::after
{
    display:none !important;content:'' !important;
}
.single-price-table-area .price-value
{
    min-height:62px;
}

.contact-form-area input,.contact-form-area input::placeholder,.contact-form-area textarea,.contact-form-area textarea::placeholder{color:#9e0070 !important;}

.contact-form-area input:focus,
.contact-form-area textarea:focus {
    background-color: #f6f6f6;
    box-shadow: none;
    border-bottom-color: #9e0070; }
@media screen and (max-width: 768px){
    #carouselExampleControls
    {
        margin-top:30px;
    }
    #tryNow
    {

        width:auto;
    }
    #contCta
    {
        text-align:left;
    }
}