<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}base title {% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{% block description %} base description {% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% set urlPage = "https://"~app.request.server.get('SERVER_NAME')~path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')) %}
    <!--<link rel="icon" type="image/png" href="/fav.png" />-->
    <!-- RÉSEAUX SOCIAUX -->
    

    {% block stylesheets %}
        {% stylesheets
        
        'assets/css/main.css'
        'assets/css/main_responsive.css'
        'pixeltemplate/css/bootstrap.min.css'
        'pixeltemplate/css/font-awesome.min.css'
        'pixeltemplate/style.css'
        
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}





</head>
<body>
<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Navbar Area -->
    <div class="pixel-main-menu" id="sticker">
        <div class="classy-nav-container breakpoint-off">
            <div class="container-fluid">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="pixelNav">

                    <!-- Nav brand -->
                    <a href="index.html" class="nav-brand"><img src="/assets/layout/totoclic.png" width="120" height="auto" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="index.html">Accueil</a></li>
                                <!--<li><a href="about.html">About</a></li>
                                <li><a href="services.html">Services</a></li>
                                <li><a href="portfolio.html">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="services.html">Services</a>
                                            <ul class="dropdown">
                                                <li><a href="index.html">Home</a></li>
                                                <li><a href="about.html">About Us</a></li>
                                                <li><a href="services.html">Services</a></li>
                                                <li><a href="portfolio.html">Portfolio</a>
                                                    <ul class="dropdown">
                                                        <li><a href="index.html">Home</a></li>
                                                        <li><a href="about.html">About Us</a></li>
                                                        <li><a href="services.html">Services</a></li>
                                                        <li><a href="portfolio.html">Portfolio</a></li>
                                                        <li><a href="contact.html">Contact</a></li>
                                                        <li><a href="elements.html">Elements</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="contact.html">Contact</a></li>
                                                <li><a href="elements.html">Elements</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="portfolio.html">Portfolio</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                        <li><a href="elements.html">Elements</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Mega</a>
                                    <div class="megamenu">
                                        <ul class="single-mega cn-col-4">
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="services.html">Services</a></li>
                                            <li><a href="portfolio.html">Portfolio</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                            <li><a href="elements.html">Elements</a></li>
                                        </ul>
                                        <ul class="single-mega cn-col-4">
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="services.html">Services</a></li>
                                            <li><a href="portfolio.html">Portfolio</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                            <li><a href="elements.html">Elements</a></li>
                                        </ul>
                                        <ul class="single-mega cn-col-4">
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="services.html">Services</a></li>
                                            <li><a href="portfolio.html">Portfolio</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                            <li><a href="elements.html">Elements</a></li>
                                        </ul>
                                        <ul class="single-mega cn-col-4">
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="services.html">Services</a></li>
                                            <li><a href="portfolio.html">Portfolio</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                            <li><a href="elements.html">Elements</a></li>
                                        </ul>
                                    </div>
                                </li>-->
                                <li><a href="contact.html">Contact</a></li>
                            </ul>

                            <!-- Top Social Info -->
                            <!--<div class="top-social-info ml-5">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-flickr"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>-->
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

{% block thecontent %} content {% endblock %}

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <!--<div class="container-fluid">
        <div class="row justify-content-between">

            <div class="col-12 col-sm-6 col-md-3">
                <div class="single-footer-widget mb-100">
                    <a href="index.html" class="footer-logo"><img src="pixeltemplate/img/core-img/logo.png" alt=""></a>
                </div>
            </div>

            <div class="col-12 col-md-9 col-lg-8 col-xl-7">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="single-footer-widget mb-100">
                            <h5 class="widget-title">Address</h5>
                            <p>1530 Doverfield Ave <br> Hacienda Heights, California(CA), 91745</p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="single-footer-widget mb-100">
                            <h5 class="widget-title">Support</h5>
                            <p><i class="fa fa-phone"></i> <br> +01 251 332 331</p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="single-footer-widget mb-100">
                            <h5 class="widget-title">Social</h5>
                            <div class="footer-social-info">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-flickr"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

    <!-- Copywrite Area -->
    <div class="copywrite-area">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="copywrite-content">
                        <!-- Copywrite Text -->
                        <p class="copywrite-text"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script>  | <a href="https://alectis-lab.com" target="_blank">Alectis-Lab</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <nav class="footer-nav">
                        <ul>
                            <li><a href="#">Mentions légales</a></li>
                            <li><a href="#">C.G.V</a></li>
                            <li><a href="#">Politique de confidentialité</a></li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area Start ##### -->


{% block javascripts %}
    <script type="text/javascript">
    </script>
    {% javascripts
    'pixeltemplate/js/jquery/jquery-2.2.4.min.js'
    'pixeltemplate/js/bootstrap/popper.min.js'
    'pixeltemplate/js/bootstrap/bootstrap.min.js'
    'pixeltemplate/js/plugins/plugins.js'
    'pixeltemplate/js/active.js'
    'js/logic.js'

    %}
    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}
{% endblock %}

</body>
</html>