<?xml version="1.0" encoding="UTF-8"?>
<menu>
     <aMenu tableName="cat_prices" displayName="cat_prices"/>
     <aMenu tableName="change_password_link" displayName="change_password_link"/>
     <aMenu tableName="data_stack" displayName="data_stack"/>
     <aMenu tableName="db_instance" displayName="db_instance"/>
     <aMenu tableName="echeanciers" displayName="echeanciers"/>
     <aMenu tableName="features" displayName="features"/>
     <aMenu tableName="leads" displayName="leads"/>
     <aMenu tableName="media_template" displayName="media_template"/>
     <aMenu tableName="medias" displayName="medias"/>
     <aMenu tableName="options" displayName="options"/>
     <aMenu tableName="options_cat" displayName="options_cat"/>
     <aMenu tableName="paiements" displayName="paiements"/>
     <aMenu tableName="prices" displayName="prices"/>
     <aMenu tableName="profiles" displayName="profiles"/>
     <aMenu tableName="tags_templates" displayName="tags_templates"/>
     <aMenu tableName="users" displayName="users"/>
     <aMenu tableName="w_templates" displayName="w_templates"/>
     <aMenu tableName="website" displayName="website"/>
     <aMenu tableName="website_paiement" displayName="website_paiement"/>
     <aMenu tableName="wtags" displayName="wtags"/>
</menu>
