<br/><h5>{% if item==false %} Nouveau {% else %} Modifier {% endif %} {{ itemTypeInfo.it_name }}</h5>
<br/>
<div class="absolute iconIonic topRight ion-chevron-left previousPage" data-pack="default" data-tags="arrow, left">
    <button type="button" class="btn clickable btn-primary">Retour</button>
</div>
{% include 'AlectisLabAcmsBundle:Partials:form-from-ml.html.twig' with {'modelLines': modelLines,item:item,filtering:filtering} %}
<script type="text/javascript">
    $(".previousPage").unbind('click');
    $(".previousPage").click(function()
    {
        if(GV.previousPage!=false)
        {
            GV.cssWaiter.show("#contCrud","top");
            $("#contCrud").load(GV.previousPage,function()
            {
                GV.cssWaiter.hide();
                GV.previousPage=false;

            });
        }
    });

</script>



