<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
</head>
<body>
    <div class="width100pct marginHeader">
        <div class="jumbotron">
            <h1>TEST</h1>
            <img src="{{ path('al_get_image',{resizetype:'resizeHomoH',name:datas.fd_content,format:"100"}) }}"/>
        </div>
    </div>

</body>
</html>